<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/rest/view/default/css/1.css" type="text/css" rel="stylesheet" >
<script src="/rest/view/default/js/jquery-1.9.0.js"></script>
<script src="/rest/view/default/layer/layer.min.js"></script>
</head>

<body>
<div class="bj">
	<div class="bk">
		<div class="logo"><strong><a href="#"><img src="/rest/view/default/img/logo.jpg" /></a>
		</strong>
		<span>
			<img border="0" SRC="/rest/view/default/img/TEL.jpg">
		 	<a target=blank href=http://wpa.qq.com/msgrd?V=1&uin=3157299628&Site=短信支付&Menu=yes><img border="0" SRC="/rest/view/default/img/QQ1.jpg" alt="点击这里给我发消息"></a>
		 	<a target=blank href=http://wpa.qq.com/msgrd?V=1&uin=1767508243&Site=短信支付&Menu=yes><img border="0" SRC="/rest/view/default/img/QQ2.jpg" alt="点击这里给我发消息"></a>
		</span>
		
		</div>
		<div class="lc"><img src="/rest/view/default/img/1.jpg" /></div>


		<div class="zi">
			来自 <span>北京汇元网科技有限责任公司</span> 支付订单号：<span>$order_id</span>
			<br />
			商品信息：<span>骏卡一卡通J点</span>
		</div>
		<div class="ne">
			<div class="dh">
				<ul>
					<li ><a class="lt">联通话费短信支付</a></li>
					<li ><a class="dx">电信话费短信支付</a></li>
					<li ><a class="yd">移动话费短信支付</a></li>         
				</ul>
			</div>

			<div class="zuo">
				<div class="bg">
					<table width="470" border="0">
					  <input style="height:0px; width:450px;" name="order_id" id="order_id" value = "$order_id" type="hidden" />
					  <tr>
					    <!--  <td><div class="jf"><a href="$nexturl" >$msg</a></div></td>-->
					    <td><div class="jf">$msg</div></td>
					  </tr>
					</table>
				</div>
			</div>
			<div class="you">
				<p><b>手机验证码支付说明：</b></p>
				<p>验证码支付：即通过确认手机收到的验证码完成支付扣费；<br />
				支持中国移动号段：134~139、147、150~152、157~159、182、183、184、187、188；<br />
				  支持中国联通号段： 130-132、145、155、156、185、186；<br />
				  支持中国电信号段： 133、153、180、181、189；<br />
				  在支付过程中，如您选择的支付通道受限限制，请更换其它通道进行支付。<br />
				  请按页面和验证码提示完成操作。</p>
				<p>在线客服1：<a target=blank href=http://wpa.qq.com/msgrd?V=1&uin=3157299628&Site=短信支付&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:3157299628:1 alt="点击这里给我发消息"></a></p>
				<p>在线客服2：<a target=blank href=http://wpa.qq.com/msgrd?V=1&uin=1767508243&Site=短信支付&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:1767508243:1 alt="点击这里给我发消息"></a></p>
			</div>

			<div class="ww">
				<p><b>操作必读</b></p>
				<p>输入支付号码：如号码归属地&quot;未知&quot;，则此号码不能完成支付，请与客服联系；<br />
				  选择支付方式：如选择的支付方式下无可用支付通道，请选择其它支付方式；<br />
				  选择支付通道：通常会有一个或多个支付通道，请根据每个支付通道标称的支付信息（支付费用、支付次数等），选择合适的支付通道进行提交；<br />
				  提交支付：系统会根据你提交的商品、支付号码、支付通道等信息处理支付请求，如您提交的支付请求受系统限制而不能支付，请选择其它支付方式或隔日重试；<br />
				  提交支付支付请求成功后，请按页面提示完成支付确认操作；<br />
				  其它任务疑问，请咨询客服热线：400-829-9109。</p>
			</div>
		</div>
	</div>
</div>
<div class="wei">
  <p><a href="#">公司概况 </a> &nbsp;|&nbsp;  <a href="#">联系我们 </a> &nbsp;|&nbsp;  <a href="#">合作伙伴</a> &nbsp;|&nbsp;  <a href="#">诚聘英才</a><br />
	广州翼光网络科技有限公司 版权所有 2012-2014 粤ICP备14050898号-1  </p>
</div>
</body>
</html>
